In [3]:
import pandas as pd
import os
from sqlalchemy import create_engine

In [2]:
pd.__version__

'2.2.3'

In [4]:
ls

Dockerfile      notepad                 test-jupyter.ipynb
README.md       ny_taxi_postgres_data/  yellow_tripdata_2021-01.parquet
Untitled.ipynb  pipeline.py

In [11]:
df = pd.read_parquet('yellow_tripdata_2021-01.parquet')

In [12]:
df.to_csv('yellow_tripdata_2021-01.csv')

In [37]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [38]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [40]:
engine.connect()

In [41]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"Unnamed: 0" BIGINT,
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [55]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [56]:
df = next(df_iter)

In [57]:
len(df)

100000

In [58]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [59]:
df.head(n=0)

Empty DataFrame
Columns: [Unnamed: 0, VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []

In [63]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [64]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

1000

In [65]:
from time import time

In [66]:
while True:
    start_time = time()
    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append') 
    end_time = time()
    print('inserted another chunk... took %.3f second' % (end_time - start_time))

inserted another chunk... took 11.704 second
inserted another chunk... took 12.058 second
inserted another chunk... took 12.533 second
inserted another chunk... took 11.760 second
inserted another chunk... took 11.948 second
inserted another chunk... took 12.324 second

/tmp/ipykernel_34449/4279559480.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk... took 12.676 second
inserted another chunk... took 12.212 second
inserted another chunk... took 11.856 second
inserted another chunk... took 12.044 second
inserted another chunk... took 12.882 second

/tmp/ipykernel_34449/4279559480.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk... took 12.061 second
inserted another chunk... took 7.125 second

StopIteration:

In [4]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [5]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [7]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265