In [44]:
import pandas as pd

In [45]:
import os
from sqlalchemy import create_engine
from time import time

In [2]:
pd.__version__

'2.2.3'

In [3]:
ls

READMY.md       dockerfile_mod1hw      ingest_green.py  pipcheck.sh
Untitled.ipynb  dockerfile_python3128  pip-check.py

In [46]:
df=pd.read_parquet('green_tripdata_2019-10.parquet')

In [47]:
df.to_csv('green_tripdata_2019-10.csv')

In [48]:
df = pd.read_csv('green_tripdata_2019-10.csv', nrows=100)

In [49]:
df

,Unnamed: 0,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,...,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,...,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,...,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,...,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,...,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,2,2019-10-01 00:02:53,2019-10-01 00:14:32,N,1.0,126,74,1.0,3.10,...,0.50,0.5,0.00,0.0,NaN,0.3,13.30,1.0,1.0,0.0
96,96,2,2019-10-01 00:18:45,2019-10-01 00:29:23,N,1.0,42,74,1.0,1.64,...,0.50,0.5,0.00,0.0,NaN,0.3,10.80,2.0,1.0,0.0
97,97,2,2019-10-01 00:41:32,2019-10-01 00:52:51,N,1.0,75,42,1.0,3.17,...,0.50,0.5,1.50,0.0,NaN,0.3,14.30,1.0,1.0,0.0
98,98,2,2019-10-01 00:36:54,2019-10-01 00:54:20,N,1.0,92,179,1.0,5.48,...,0.50,0.5,0.00,0.0,NaN,0.3,20.80,2.0,1.0,0.0
99,99,2,2019-10-01 00:21:27,2019-10-01 00:26:59,N,1.0,129,129,1.0,1.02,...,0.50,0.5,0.00,0.0,NaN,0.3,7.30,2.0,1.0,0.0

In [50]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_gtaxi')

In [51]:
engine.connect()

In [23]:
print(pd.io.sql.get_schema(df, name="green_taxi_data", con=engine))

CREATE TABLE green_taxi_data (
	"Unnamed: 0" BIGINT,
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [52]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [53]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=100000)

In [54]:
df = next(df_iter)

In [55]:
len(df)

100000

In [56]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [57]:
df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

1000

In [58]:
try:
    while True:
        start_time = time()
        df = next(df_iter)
    
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
        df.to_sql(name='green_taxi_data', con=engine, if_exists='append') 
        end_time = time()
        print('inserted another chunk... took %.3f second' % (end_time - start_time))
except StopIteration:
    pass

inserted another chunk... took 12.265 second
inserted another chunk... took 11.174 second

/tmp/ipykernel_44139/1754441952.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk... took 11.694 second
inserted another chunk... took 8.109 second

In [61]:
ls

READMY.md                       ingest_zones.py
Untitled.ipynb                  notepad
dockerfile_mod1hw               ny_gtaxi_postgres_data/
dockerfile_python3128           pip-check.py
green_tripdata_2019-10.csv      pipcheck.sh
green_tripdata_2019-10.parquet  taxi_zone_lookup.csv
ingest_green.py

In [60]:
pwd

'/workspaces/Zoomcamp2025/Module 1 homework'

In [63]:
de = pd.read_csv('taxi_zone_lookup.csv', nrows=100)

In [64]:
de

    LocationID        Borough                       Zone service_zone
0            1            EWR             Newark Airport          EWR
1            2         Queens                Jamaica Bay    Boro Zone
2            3          Bronx    Allerton/Pelham Gardens    Boro Zone
3            4      Manhattan              Alphabet City  Yellow Zone
4            5  Staten Island              Arden Heights    Boro Zone
..         ...            ...                        ...          ...
95          96         Queens  Forest Park/Highland Park    Boro Zone
96          97       Brooklyn                Fort Greene    Boro Zone
97          98         Queens              Fresh Meadows    Boro Zone
98          99  Staten Island            Freshkills Park    Boro Zone
99         100      Manhattan           Garment District  Yellow Zone

[100 rows x 4 columns]

In [67]:
de_iter = pd.read_csv('taxi_zone_lookup.csv', iterator=True, chunksize=100)

In [68]:
de = next(de_iter)

In [69]:
de.head(n=0).to_sql(name='zones', con=engine, if_exists='replace')

0

In [70]:
de.to_sql(name='zones', con=engine, if_exists='append')

100

In [71]:
try:
    while True:
        start_time = time()
        de = next(de_iter)
        de.to_sql(name='zones', con=engine, if_exists='append') 
        end_time = time()
        print('inserted another chunk... took %.3f second' % (end_time - start_time))
except StopIteration:
    pass

inserted another chunk... took 0.010 second
inserted another chunk... took 0.005 second